<div class="slider">
    <div class="contenedor">
        <label class="slider-thumb" id="thumb-1"><img
                alt="Catedral de Sucre" id="p-1"
                src="assets/categorias/iglesias/1.jpg" />
            <div class="head">
                <h2>FRONTIS DE LA CATEDRAL DE SUCRE</h2>
            </div>
        </label>
        <label class="slider-thumb" id="thumb-2"><img
                alt="Santa Monica" id="p-2"
                src="assets/categorias/iglesias/2.jpg" />
            <div class="head">
                <h2>SANTA MONICA</h2>
            </div>
        </label>
        <label class="slider-thumb" id="thumb-3"><img
                alt="Capilla Palacete" id="p-3"
                src="assets/categorias/iglesias/3.jpg" />
            <div class="head">
                <h2>CAPILLA PALACETE</h2>
            </div>
        </label>
        <label class="slider-thumb" id="thumb-4"><img
                alt="Capilla Potolo" id="p-4"
                src="assets/categorias/iglesias/4.jpg" />
            <div class="head">
                <h2>CAPILLA POTOLO</h2>
            </div>
        </label>
    </div>
</div>