<section class="gallery">
	<div class="flexbox-container">
		<div class="flexbox-container">
			<div class="half left top img-container">
				<a routerLink="/rutaiglesias">
					<div class="photo-container wow fadeInLeft" data-wow-delay=".35s">
						<div class="pic-thumbnail" id="ruta">

						</div>
						<span id="tituloRuta">Visita nuestras Iglesias</span>
					</div>
				</a>
			</div>
			<div class="half right bottom text-container">
				<h2>
					Explora nuestras rutas turisticas
				</h2>
				<p>
					Elige una de nuestras rutas turisticas
				</p>
				<div class="gallery-icon-container">
					<div class="col-1">
						<a (click)="mostrarFotoPrincipal(1)">
							<div class="photo-container wow fadeInRight" data-wow-delay=".65s">
								<div class="pic-thumbnail">

								</div>
								<span>Iglesias</span>
							</div>
						</a>

						<a  (click)="mostrarFotoPrincipal(2)">
							<div class="photo-container wow fadeInRight" data-wow-delay=".95s">
								<div class="pic-thumbnail">

								</div>
								<span>Museos</span>
							</div>
						</a>

						<a href="#">
							<div class="photo-container wow fadeInRight" data-wow-delay="1.25s">
								<div class="pic-thumbnail">

								</div>
								<span>Arquitectura</span>
							</div>
						</a>
					</div>
					<div class="col-2">
						<a href="#">
						<div class="photo-container wow fadeInRight" data-wow-delay="1.55s">
							<div class="pic-thumbnail">

							</div>
							<span>Gastronomia</span>
						</div>
					</a>

					<a href="#">
						<div class="photo-container wow fadeInRight" data-wow-delay="1.85s">
							<div class="pic-thumbnail">

							</div>
							<span></span>
						</div>
					</a>

					<a href="#">
						<div class="photo-container wow fadeInRight" data-wow-delay="2.15s">
							<div class="pic-thumbnail">

							</div>
							<span></span>
						</div>
					</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>