<div class="contenedor-categorias">
    <div class="row">
        <div class="col col-sm-3">
            <div class="card iglesias">
                <div class="card-body ">
                </div>
            </div>
        </div>
        <div class="col col-sm-3">
            <div class="card museos">
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col col-sm-3">
            <div class="card gastronomia">
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col col-sm-3">
            <div class="card historia">
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>
