.iglesias{
    background-image: url(../../../assets/contenido/categorias/iglesias.png);
    background-size: cover;
    width: 100%;
    height: 550px;
    padding: 20px;
}

.museos{
    background-image: url(../../../assets/contenido/categorias/museos.png);
    background-size: cover;
    width: 100%;
    height: 550px;
    padding: 20px;
}

.gastronomia{
    background-image: url(../../../assets/contenido/categorias/gastronomia.png);
    background-size: cover;
    width: 100%;
    height: 550px;
    padding: 20px;
}

.historia{
    background-image: url(../../../assets/contenido/categorias/historia.png);
    background-size: cover;
    width: 100%;
    height: 550px;
    padding: 20px;
}

.contenedor-categorias{
    margin: auto;
    width: 100%;
    padding: 30px;
}

