<app-cabecera></app-cabecera>
<main>
    <div class="lp">
      <div class="lp__banner"></div>
      <h1 class="lp__title">Catedral</h1>
      <div class="lp__cont">
        <div class="lp__cont__item">
          <h2 class="lp__cont__item__title">Arquitectura de</h2>
          <p class="lp__cont__item__text">Autor</p>
          <p class="lp__cont__item__text"></p>
        </div>
        <!---->
        <div class="lp__cont__item">
          <h2 class="lp__cont__item__title">Fotografia tomada por</h2>
          <p class="lp__cont__item__text">Autor</p>
          <p class="lp__cont__item__text"></p>
        </div>
        <!---->
        <div class="lp__cont__item lp__cont__item-rt">
          <ul class="lp__nav">
            <li class="lp__nav__link lp__nav__link-active"><a href="#">Ubicación</a></li>
            <li class="lp__nav__link"><a href="#">Descripción</a></li>
            <li class="lp__nav__link"><a href="#">Historia</a></li>
            <li class="lp__nav__link"><a href="#">Organización</a></li>
            <li class="lp__nav__link"><a href="#">Agenda</a></li>
            <li class="lp__nav__link"><a href="#">Galería de fotos</a></li>
            <li class="lp__nav__link"><a href="#">Contacto</a></li>
          </ul>
        </div>
      </div>
    </div>
  </main>
  <app-pie></app-pie>